
/* Fonts */
@font-face {
    font-family: 'MainFont';
    src: url('res/font/ttf/ClearviewHwy2B.ttf');
}

@font-face {
    font-family: 'MainFontEOT';
    src: url('res/font/eot/ClearviewHwy2B.eot');
}

/* Small */
@font-face {
    font-family: 'MainFontSmall';
    src: url('res/font/ttf/ClearviewHwy2W.ttf');
}

@font-face {
    font-family: 'MainFontSmallEOT';
    src: url('res/font/eot/ClearviewHwy2W.eot');
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#mainlogo {
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	
	position: relative;
	width: 400px;
	height: 125px;
}

html {
	overflow: hidden;
}

.mainbg {
	overflow: hidden;
	height: 100%;
}

#backg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.content {
	position: relative;
	z-index: 1;
	height: 100%;
	overflow:auto;
}


.card {
	margin-left: auto;
	margin-right: auto;
	margin-top: -7px;
	position: relative;
	width: 702px;
	height: 165px;
}

.testtxt {
	margin: 0px;
	position: absolute;
	top: 50px;
	left: 200px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: 'MainFontEOT', 'MainFont', sans-serif;
} 

.card_title {
	margin: 0px;
	position: absolute;
	top: 28px;
	left: 152px;
	color: white;
    font-size: 28px;
	font-family: 'MainFontEOT', 'MainFont', sans-serif;
}

.card_icon {
	position: absolute;
	left: 44px;
	top: 44px;
	width: 80px;
	height: 80px;
}

.card_desc {
	margin: 0px;
	position: absolute;
	left: 155px;
	top: 67px;
	color: #8b8b8b;
    font-size: 16px;
	font-family: 'MainFontSmallEOT', 'MainFontSmall', sans-serif;
} 

.card_title_shadow {
	margin: 0px;
	position: absolute;
	top: 32px;
	left: 156px;
	color: #121212;
    font-size: 28px;
	font-family: 'MainFontEOT', 'MainFont', sans-serif;
} 

.imgbox {
	position: absolute;
	left: 19px;
	top: 20px;
}

.cardimg {
	margin: 0;
	position: absolute;
}

#bklayer {
	top: 8px;
	left: 8px;
}

.card_container {
	position: absolute;
	left: 150px;
	bottom: 28px;
	background: rebeccapurple;
	height: 30px;
	width: 520px;
}

.dbutton {
	width: 109px;
	height: 33px;
	float: left;
	display: block;
	position: relative;
}

.mlink {
	position: absolute;
	top: 5px;
	left: 5px;
	
	color: #CCCCCC;
	font-size: 16px;
	font-family: 'MainFontEOT', 'MainFont', sans-serif;
}

.mbutton {
	text-align: center;
	color: #CCCCCC;
	font-size: 16px;
	font-family: 'MainFontEOT', 'MainFont', sans-serif;
	float: left;
	display: block;
	width: 109px;
	height: 33px;
	background-image: url("res/download_button.png");
}