

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#mainlogo {
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	
	position: relative;
	width: 400px;
	height: 125px;
}

html {
	overflow: hidden;
}

.mainbg {
	overflow: hidden;
	height: 100%;
}

#backg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.content {
	position: relative;
	z-index: 1;
	height: 100%;
	overflow:auto;
}


.card {
	margin-left: auto;
	margin-right: auto;
	margin-top: -7px;
	position: relative;
	width: 702px;
	height: 165px;
}

.testtxt {
	margin: 0px;
	position: absolute;
	top: 50px;
	left: 200px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
} 

.imgbox {
	position: absolute;
	left: 19px;
	top: 20px;
}

.cardimg {
	margin: 0;
	position: absolute;
}

#bklayer {
	top: 8px;
	left: 8px;
}