* {
    behavior: url("res/border-radius.htc");
}
.rightdiv {
    top: -2px;
    left: 136px;
    position: absolute;
    padding-bottom: 6px;
    overflow:hidden;
}

.tablest {
    border-radius: 8px;
    border: solid 1px #FFFFFF40;
}

.tablerootvi {
    border-radius: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.tableleft {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tableright {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.smalltext {
    color: #999999;
    font-size: 12px;
    margin: 0px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    background: #00000040;
    position: absolute;
    right: 5px;
    bottom: 5px;

    background:
        -webkit-linear-gradient(#00000040),
        -webkit-linear-gradient(#00000040),
        -webkit-linear-gradient(#00000040),
        -webkit-linear-gradient(315.2deg, transparent 8px, #00000040 8px);


    background-position: bottom left, bottom right, top right, top left;
    -webkit-background-size: 50% 50%;
    
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.cardtitle {
    text-shadow: 4px 4px #00000088;
    margin-top: 13px;
    margin-bottom: 0px;
    height: 38px;
    color: #FFFFFF;
    font-size: 28px;
}

#qualitysoftware{
    margin-left: 80px;
    text-shadow: 4px 4px 4px #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Share Tech Mono';
    color: #C0C0C0;
}


@font-face {
    font-family: MainFont;
    src: url(res/font/Clearview/ClearviewHwy2B.ttf);
}

@font-face {
    font-family: MainFontSmall;
    src: url(res/font/Clearview/ClearviewHwy2W.ttf);
}

@font-face {
    font-family: MainFont_eot;
    src: url(res/font/Clearview/eot/ClearviewHwy2B.eot);
}

@font-face {
    font-family: MainFontSmall_eot;
    src: url(res/font/Clearview/eot/ClearviewHwy2W.eot);
}

@font-face {
    font-family: RegularF;
    src: url(res/font/OCR-A\ Regular.ttf);
  }
  
@font-face {
font-family: ITC;
src: url(res/font/ITCAvantGardeStd-Md.ttf) format("truetype");
}

  .viewimagetext {
    margin-top: -10px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px #050505;
    font-size: 18px;
    
    align-self: center;
    text-align: center;
    font-family: RegularF;
}

.carddesc {
    font-family: MainFontSmall, MainFontSmall_eot;
    margin-bottom: 20px;
    margin-left: 3px;
    margin-right: 10px;
    margin-top: 1px;
    color: #8b8b8b;
    text-shadow: 2px 2px 4px #00000080;
    font-size: 16px;
}

.downloadbutton, .downloadbuttonglow {
    display: inline-block;
    text-decoration: none;


    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;

    margin-top: 1px;
    margin-left: 6px;
    margin-right: 2px; 
    position:relative;

    color: #CCCCCC;
    font-size: 16px;
    font-family: MainFont, MainFont_eot;
    z-index: auto;
}

.downloadbutton:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    margin: -5px;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    background-color: black;
    border: solid 5px #000000;
    box-shadow: 0 0 16px #1d1d0ec0;

}

.downloadbuttonglow:before {
   
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    margin: -5px;
    border-radius: 8px;
    
    position: absolute;
    z-index: -1;
    background-color: black;
    border: solid 5px #000000;
    box-shadow: 0 0 9px #FFFFFF80;
}


.downloadbutton:after, .downloadbuttonglow:after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    margin: -2px;
    position: absolute;
    z-index: -1;

    border-radius: 5px;
    box-shadow: inset 1px 1px 2px #303030, inset -2px -2px 4px #000000;

    border: solid 2px #454545;
    
    background: rgb(20, 20, 20);
}

.downloadbutton:hover {
    background: #FFFF0005;
    color: #ffa600;
}

.downloadbutton:after:active {
    transition: 10000ms;
    background-color: #FF0000;
}


.downloadbuttont {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
    color: #CCCCCC;
    font-size: 18px;
}


.imgbarrier {
    /*
box-shadow: 0 0 0 1px #FFFFFF44, 
                4px 4px 8px #000000,
                0 0 0 3px #000000,
                2px 2px 20px #FFFFFF20;
    */
    background: black;
    position:absolute;
    left: 15px;
    top: 15px;

    box-shadow: 


        0 0 0 3px #000000,
        0px 0px 4px 4px #000000,
                0 0 0 2px #000000,
                -2px -2px 2px #FFFFFF22,
                -2px -2px 16px #FFFFFF33,
                inset 0px 0px 4px #000000CC,


                inset 0px 0px 15px 5px #FFFFFF20, inset 0px 0px 6px #FFFFFF50
                
                
                ;
    height: 105px;
    width: 105px;
    background:rgb(20, 20, 20);

    
    border-radius: 3px;
                
}

.bottomnotice {
    text-shadow: 2px 2px 4px #000000, 1px 1px 4px #000000, 0px 0px 4px #000000, 0px 0px 8px #000000, 0px 0px 8px #000000;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #999999;
}

.cardimg {
    position: relative;
    left: 13px;
    top: 12px;
    object-fit: contain;
    width:80px;
    height: 80px;
    /*filter: drop-shadow(0px 0px 2px #606060);*/
    filter: drop-shadow(-4px -4px 4px #FFFFFF55) drop-shadow(8px 8px 4px #000000);
}

@font-face {
    font-family: Roboto;
    src: url(res/font/Roboto.ttf) format("truetype");
  }
  h1 { font-family: "Roboto", sans-serif }


.bk_under {
    z-index: -500;
    position:fixed;
    background-position-y: bottom;
    opacity: 0.5;
    image-rendering:auto;
    background-image: url(res/mine3.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='res/mine3.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='res/mine3.png', sizingMethod='scale')";
    background-size: cover;
    width: 100%;
    height: 100%;
}

.mainbg {
    font-family: MainFont, MainFont_eot;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 400;
    /*font-family: 'Calibri','Trebuchet MS','system-ui';*/
    margin: 0px;
    /*background-color: rgb(26, 26, 1); */
    background-color: rgb(20,20,20);
    background-size: 10px;
    image-rendering:pixelated;
}

.card {
    z-index: 0;
    margin-left: 11px;
    margin-right: 11px;
    min-height: 133px;
    min-width: 200px;
    position:relative;
    background-size: cover;
    margin-bottom: 17px;
    border: solid 4px #6B6B6B;
    border-radius: 6px;
    box-shadow: 
            -1px -1px 13px #FFFFFF33,
            1px 1px 6px 2px #000000
            
            ,
            inset 0px 0px 4px #000000CC;
}



.card:after {
    z-index: -3;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background-color: #27272794;
    background: url("res/background_card.png");
   top: 0px;
   left: 0px;
}
    

.card:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 4px; 
    margin: -2px;
    border: solid 2px #555555;
    top:0px;
    left:0px;
            
}

.card_main:before {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";

    background-size: contain;
    background-image: url("res/maincard_overlay.png");
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.border {
    position: absolute;
    display: inline-block;
    border: solid 2px #4e4e4e;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;

}

.cardglow {
    margin: 50px;
    background-color: #0B0B0BAA;
    margin-bottom: 15px;
    box-shadow: 0 0 8px #FFFFFF33;
}

  

.sidetext {
    float: left;
    margin-right: 5px;
    font-size: 16px;
    color: #FFFFFF80;
    margin-top: 3px;
    font-family: ITC;
}

::selection {
    
  color: white;
  background: #FF8000C0;
}

#m_logo {
    margin-top: 30px;
    margin-bottom: 26px;
    image-rendering:optimizeQuality !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    width: 400px;
}

.bigtext {
    margin: 0px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px #050505;
    font-size: 18px;
    align-self: center;
    text-align: center;
}

.bigtextleft {
    margin-top: -10px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px #050505;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    align-self: center;
    text-align: left;
}


.listdiv {
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    
}

.listdiv_bo {
    max-width: 700px;
    position:fixed;
    background-position-y: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    /*background-image: linear-gradient(#FFFFFF 0, #00000000 80vh);*/

    -webkit-mask-image: linear-gradient(#FFFFFF00 0, #00000000 80vh);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;

    border-left: solid 1px #FFFFFF30;
    border-right: solid 1px #FFFFFF30;
    box-shadow: 0px 0px 2px 1px #000000;
}

.listdiv_bk {
    mix-blend-mode:normal;
    max-width: 700px;
    position:fixed;
    background-position-y: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0;
    /*background-image: linear-gradient(#FFFFFF 0, #00000000 80vh);*/

    -webkit-mask-image: linear-gradient(#FFFFFF 0, #00000000 80vh);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

.listdiv_bk::before {
    content: '';
    position: absolute;
    opacity: 0.5;
    top: 0; /* Offset from the top of the website */
    left: 0; /* Offset from the left of the website */
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
   /* background-image: url(res/mine_4.png);  Your background image */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    z-index: 0; /* Behind the child */
}