
/* Fonts */
@font-face {
    font-family: 'MainFont';
    src: url('res/font/ttf/ClearviewHwy2B.ttf') format("truetype");
}

@font-face {
    font-family: 'MainFontEOT';
    src: url('res/font/eot/ClearviewHwy2B.eot?#iefix');
}

/* Small */
@font-face {
    font-family: 'MainFontSmall';
    src: url('res/font/ttf/ClearviewHwy2W.ttf') format("truetype");
}

@font-face {
    font-family: 'MainFontSmallEOT';
    src: url('res/font/eot/ClearviewHwy2W.eot?#iefix');
}



html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#logo_main {
	position: absolute;
	top: 0;
	left: 0;
}

#logo_shadow {
	position: absolute;
	left: -10px;
	top: -7px;
}

#logocontent {
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	
	position: relative;
	width: 400px;
	height: 125px;
}

html {
	overflow: hidden;
}

.mainbg {
	overflow: hidden;
	height: 100%;
}

#backg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.content {
	position: relative;
	z-index: 1;
	height: 100%;
	overflow:auto;
}


.card {
	margin-left: auto;
	margin-right: auto;
	margin-top: -7px;
	position: relative;
	width: 702px;
	height: 165px;
}

.testtxt {
	margin: 0px;
	position: absolute;
	top: 50px;
	left: 200px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: 'MainFont', 'MainFontEOT', sans-serif;
}

.card_icon {
	position: absolute;
	left: 44px;
	top: 44px;
	width: 80px;
	height: 80px;
}

.imgbox {
	position: absolute;
	left: 19px;
	top: 20px;
}

.card_title {
	margin: 0px;
	position: absolute;
	top: 28px;
	left: 152px;
	color: white;
    font-size: 28px;
	font-family: 'MainFont', 'MainFontEOT', sans-serif;
}

.card_desc {
	margin: 0px;
	position: absolute;
	left: 155px;
	top: 67px;
	color: #8b8b8b;
    font-size: 16px;
	font-family: 'MainFontSmall','MainFontSmallEOT', sans-serif;
} 

.card_title_shadow {
	margin: 0px;
	position: absolute;
	top: 32px;
	left: 156px;
	color: #121212;
    font-size: 28px;
	font-family: 'MainFont', 'MainFontEOT', sans-serif;
} 

.cardimg {
	margin: 0;
	position: absolute;
}

#bklayer {
	top: 8px;
	left: 8px;
}

.card_container {
	position: absolute;
	left: 151px;
	bottom: 26px;
}

.mbutton {
	margin: 0px;
	text-align: center;
	color: #CCCCCC;
	font-size: 16px;
	font-family: 'MainFont', 'MainFontEOT', sans-serif;
	float: left;
	display: block;
	width: 87px;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	text-align: center;
	background-image: url("res/button.png");
	margin-right: 2px;
	margin-left: 2px;
}

.longerb {
	width: 146px;
	background-image: url("res/buttonlong.png");
}

.dl {
	background-image: url("res/download_button.png");
	padding: 0px;
	padding-left: 0px;
	text-indent: 29px;
	width: 109px;
	text-align: left;
}


.dlxp {
	width: 113px;
	padding-left: 0px;
	text-indent: 29px;
	background-image: url("res/dl_xp.png");
	text-align: left;
}

.open {
	width: 68px;
	padding-left: 19px;
	text-align: left;
	background-image: url("res/buttonopen.png");
}


.cf {
	display: block;
	float: left;
}

.tinytxt {
	margin: 0;
	text-align: center;
	font-size: 14px;
	color: #999999;
	font-family: 'MainFont', 'MainFontEOT', sans-serif;
}

.compattxt {
	display: block;
	float: left;
	background-image: url("res/compcontent.png");
	height: 24px;
	margin: 0px;
	color: #999999;
	font-size: 12px;
	font-family: 'MainFont', 'MainFontEOT', sans-serif;
	padding-right: 5px;
}

.compatibility {
	margin: 0px;
	padding: 0px;
	position: absolute;
	line-height: 24px;
	right: 21px;
	bottom: 20px;
	height: 24px;
}


.mbutton:hover {
	cursor:pointer;
	color: #ffa600;
}

/* Info Cards */

.info_card_container {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.info_card {
	display: inline-block;
	margin: auto;
}

/* Normals */
	.info_card_top {
		display: block;
		width: 882px;
		height: 21px;
		background-image: url("res/info_card_top.png");
	}

	.info_card_cross {
		display: block;
		width: 882px;
		background: url("res/info_card_cross.png") repeat-y;
	}

	.info_card_bottom {
		display: block;
		width: 882px;
		height: 21px;
		background-image: url("res/info_card_bottom.png");
	}

/* Smalls */
	.info_card_top_small {
		display: block;
		width: 512px;
		height: 21px;
		background-image: url("res/info_card_top_small.png");
	}

	.info_card_cross_small {
		display: block;
		width: 512px;
		background-image: url("res/info_card_cross_small.png");
	}

	.info_card_bottom_small {
		display: block;
		width: 512px;
		height: 21px;
		background-image: url("res/info_card_bottom_small.png");
	}




.info_card_title {
	margin:0;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
	font-size: 30px;
	padding-top: 9px;
    font-family: 'OCREOT', 'OCR', sans-serif;
}

.info_card_contents {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.inlineb {
	float: none;
	display:inline-block;
}

.info_card_txt {
	margin: 0;
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'MainFont', 'MainFontEOT', sans-serif;
	color: #FFFFFF;
	font-size: 18px;
}

.logtxt {
	margin-left: 20px;
	color: #FFFFFF;
	font-family: sans-serif;
}