/* Fonts */
@font-face {
    font-family: 'TitleFont';
    src: url('ITCGrizzly.otf') format("truetype");
}

@font-face {
    font-family: 'TitleFontEOT';
    src: url('ITCGrizzly.eot?#iefix');
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-size: cover;
}

#backg {
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.bodycontent {
	position: relative;
	z-index: 1;
	height: 100%;
	overflow:auto;
}

.content {
	position: relative;
	min-height: 100%;
	width: 587px;
	margin: 0 auto;
	background-color: #E0F6FF;
	height: auto !important;
	height: 100%;
	text-align: left;
}

.bordergif {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
}

.rightborder {
	left: 586px;
}

.lunchselection {
	margin-top: 10px;
	margin: auto;
	position: relative;
	width: 577px;
	height: 55px;
}
.lunchtimetext {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 19px;
	margin: 0;
	left: 20px;
}

.frameimg {
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.pane {
	padding-top: 40px;
}

.bigtitle {
	position: relative;
	margin: 0;
	padding-bottom: 6px;
	padding-top: 10px;
	padding-left: 15px;
	font-size: 35px;
	font-family: 'TitleFont', 'TitleFontEOT', sans-serif;
	color: #008CFF;
}

.buttons {
	position: absolute;
	left: 129px;
	top: 10px;
}


.framecontainer {
	padding-left: 5px;
	display: inline-block;
	margin: auto;
}

.classframe {
	height: 40px;
}

.classtxt {
	float: left;
	padding-top: 13px;
	padding-left: 25px;
	margin: 0;
	font-weight: bold;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.block {
	float: left;
	margin: 0;
	padding-top: 5px;
	padding-left: 10px;
	font-family: 'TitleFont', 'TitleFontEOT', sans-serif;
	color: #008CFF;
	font-size: 30px;
	
}

/* Normals */
	.framecontainer_top {
		min-height: none;
		display: block;
		width: 577px;
		height: 13px;
		font-size: 0px;
		line-height: 0px;
		background: url("frame_top.gif") repeat-y;
	}

	.framecontainer_cross {
		
		display: block;
		width: 577px;
		background: url("frame_mid.gif") repeat-y;
	}

	.framecontainer_bottom {
		display: block;
		width: 577px;
		height: 13px;
		font-size: 0px;
		line-height: 0px;
		background-image: url("frame_bottom.gif");
	}