.rightdiv {
    top: -2px;
    left: 130px;
    position: absolute;
    overflow:hidden;
}

.smalltext {
    color: #999999;
    font-size: 12px;
    margin: 2px;
    margin-left: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #00000040;
    position: absolute;
    right: 5px;
    bottom: 5px;
}



.cardtitle {
    text-shadow: 2px 2px 8px #000000;
    margin-top: 6px;
    margin-bottom: -2px;
    color: #FFFFFF;
    font-size: 28px;
}

#qualitysoftware{
    margin-left: 80px;
    text-shadow: 4px 4px 4px #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Share Tech Mono';
    color: #C0C0C0;
}

@font-face {
    font-family: RegularF;
    src: url(res/font/OCR-A\ Regular.ttf);
  }

  .viewimagetext {
    margin-top: -10px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px #050505;
    font-size: 18px;
    
    align-self: center;
    text-align: center;
    font-family: RegularF;
}

.carddesc {
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-top: 0px;
    color: #CCCCCC;
    font-size: 16px;
}

.downloadbutton {
    border: none;
    display: inline-block;
    margin: 2px;
    transition: 100ms;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 3px #000000;
    box-shadow: 
                0 0 0 1px #8f97e0A0,
                0 0 0 3px #000000,
                2px 2px 4px #0f1550,
                -2px -2px 3px rgb(126, 117, 255);

    background: rgb(22,32,122);
    background: linear-gradient(180deg, rgba(42, 39, 230, 0.596) 0%, rgb(38, 25, 214, 0.596) 49%, rgb(18, 3, 155, 0.596) 51%, rgb(8, 3, 82, 0.596) 100%);
    border-radius: 2px;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 6px;
    margin-right: 6px;
    color: #CCCCCC;
    font-size: 16px;
}

.downloadbutton:hover {
    transition: 100ms;
    background-color: #3c47A8;
    
}

.downloadbuttont {
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    color: #CCCCCC;
    font-size: 18px;
}


.imgbarrier {
    /*
box-shadow: 0 0 0 1px #FFFFFF44, 
                4px 4px 8px #000000,
                0 0 0 3px #000000,
                2px 2px 20px #FFFFFF20;
    */
    background: black;
    position:absolute;
    left: 10px;
    top: 12px;

    box-shadow: 0 0 0 1px #FFFFFF44, 
                4px 4px 8px #000000,
                -2px -2px 8px #FFFFFF55,
                4px 4px 16px #000000;
    filter: drop-shadow(0px 0px 3px #000000);
    height: 105px;
    width: 105px;
    border-radius: 8px;
    background-image: linear-gradient(#181818,#232323);
}

.bottomnotice {
    text-shadow: 2px 2px 4px #000000, 1px 1px 4px #000000, 0px 0px 4px #000000, 0px 0px 8px #000000, 0px 0px 8px #000000;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #999999;
}

.cardimg {
    position: relative;
    left: 13px;
    top: 12px;
    object-fit: contain;
    width:80px;
    height: 80px;
    /*filter: drop-shadow(0px 0px 2px #606060);*/
    filter: drop-shadow(-2px -2px 2px #FFFFFF55) drop-shadow(4px 4px 2px #000000);
}

@font-face {
    font-family: Roboto;
    src: url(res/font/Roboto.ttf) format("truetype");
  }
  h1 { font-family: "Roboto", sans-serif }

.bk_under {
    z-index: -500;
    position:fixed;
    background-position-y: bottom;
    opacity: 0.5;
    image-rendering:pixelated;
    background-image: url(res/mine3.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='res/mine3.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='res/mine3.png', sizingMethod='scale')";
    background-size: cover;
    width: 100%;
    height: 100%;
}

.mainbg {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Mukta Malar", sans-serif;
    font-weight: 400;
    /*font-family: 'Calibri','Trebuchet MS','system-ui';*/
    margin: 0px;
    background-color: rgb(0,0,0);
    background-size: 10px;
    image-rendering:pixelated;
}

.card {
    margin-left: 15px;
    margin-right: 15px;
    min-height: 130px;
    min-width: 200px;
    position:relative;
    border-radius: 4px;
    background-color: #6f6f6f40;
    background-size: cover;
    background-image: url(res/glass.png); /*linear-gradient(#0000003b,#0000007c);*/
    margin-bottom: 25px;

    box-shadow: 0 0 0 1px #FFFFFF55, 
                0 0 0 2.5px #000000,
                -2px -2px 2px #FFFFFF22,
                -2px -2px 16px #FFFFFF33,
                4px 4px 32px #000000,
                inset 0px 0px 24px #000000CC;

}


.cardglow {
    margin: 50px;
    border-radius: 16px;
    background-color: #0B0B0BAA;
    margin-bottom: 15px;
    box-shadow: 0 0 8px #FFFFFF33;
}

  
::selection {
    
  color: white;
  background: #FF8000C0;
}

#m_logo {
    margin-top: 30px;
    margin-bottom: 30px;;
    image-rendering:optimizeQuality !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    width: 400px;
}

.bigtext {
    margin-top: -10px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px #050505;
    font-size: 18px;
    align-self: center;
    text-align: center;
}

.bigtextleft {
    margin-top: -10px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px #050505;
    font-size: 18px;
    align-self: center;
    text-align: left;
}


.listdiv {
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    
}

.listdiv_bo {
    max-width: 700px;
    position:fixed;
    background-position-y: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    /*background-image: linear-gradient(#FFFFFF 0, #00000000 80vh);*/

    -webkit-mask-image: linear-gradient(#FFFFFF 0, #00000000 80vh);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;

    border-left: solid 1px #FFFFFF30;
    border-right: solid 1px #FFFFFF30;
    box-shadow: 0px 0px 2px 1px #000000;
}

.listdiv_bk {
    mix-blend-mode:normal;
    max-width: 700px;
    position:fixed;
    background-position-y: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0;
    /*background-image: linear-gradient(#FFFFFF 0, #00000000 80vh);*/

    -webkit-mask-image: linear-gradient(#FFFFFF 0, #00000000 80vh);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

.listdiv_bk::before {
    content: '';
    position: absolute;
    opacity: 0.5;
    top: 0; /* Offset from the top of the website */
    left: 0; /* Offset from the left of the website */
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    background-image: url(res/mine_4.png); /* Your background image */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    z-index: 0; /* Behind the child */
}
.inputdiv {

    border-radius: 4px;
    background-color: #0000007c;
    background-size: cover;
    background: url(res/glass.png); /*linear-gradient(#0000003b,#0000007c);*/
    margin-bottom: 25px;

    box-shadow: 0 0 0 1px #FFFFFF33, 
                0 0 0 2.5px #000000,
                -2px -2px 2px #FFFFFF22,
                -2px -2px 16px #FFFFFF33,
                4px 4px 32px #000000,
                inset 0px 0px 24px #000000CC;

    width: 80px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    border: none;
    outline: none;
    height: 24px;
}