

* {

	position: absolute;
	font-weight: bold;
	font-size: 16px;
	font-family:sans-serif;
	color: #000000;
	margin: 0;
}

.sit {
	width: 500px;
	top: 10px;
	margin-left: 300px;
}
.slpt {
	width: 500px;
	top: 10px;
}

.mainbg {
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

.contents {
	top: 40px;
}

.lunchb {
	top: 8px;
	width: 100px; height: 32px;
	padding: 5px;
	border: 0;
}

#lunch1 {
	left: 13px;
	background-image: url("button_in.gif");
}

#lunch2 {
	left: 124px;
	background-image: url("button_in.gif");
}

#lunch3 {
	left: 235px;
	background-image: url("button_in.gif");
}

#lunch4 {
	left: 346px;
	background-image: url("button_in.gif");
}

.frame {
	left: 0;
	height: 133px;
	width: 459px;
}

.text1 { left: 2px; top: 57px; width: 500px;}
#frame1 {
	top: 82px;
}

.text2 { left: 2px; top: 224px; width: 500px;}
#frame2 {
	top: 249px;
}

.text3 { left: 2px; top: 391px; width: 500px;}
#frame3 {
	top: 416px;
}

.text4 { left: 2px; top: 558px; width: 500px;}
#frame4 {
	top: 583px;
}

.maint {
	top: 20px;
	width: 84px;
	text-align: center;
}

.mainv {
	top: 50px;
	width: 84px;
	font-size: 36px;
	text-align: center;
}


.remainv {
	margin: 0; 
	right: 335px; top: 16px;
}

.remaint {
	margin: 0;
	right: 175px; top: 16px;
	color: #808080;
}

.progresst {
	left: 100px; top: 58px;
	color: #808080;
}

.indent {
	width: 45px;
	height: 22px;
	left: 180px;
	top: 56px;
	background-image: url("indent.gif");
	text-align: right;
	text-indent: 5px;
	direction: rtl;
	line-height: 22px;
}

.indent2 {
	left: 242px;
}

.divider {
	left: 232px; top: 58px;
	color: #808080;
}

.completev {
	right: 105px; top: 16px;
}

.completet {
	right: 20px; top: 16px;
	color: #808080;
}

.ett {
	left: 311px; top: 58px;
	color: #808080;
}

.etv {
	right: 21px; top: 58px;
}

.down {
	top: 58px;
}

.progbar {
	left: 88px;
	top: 94px;
}

.barprogress {
	left: 90px;
	top: 96px;
	height: 24px;
	overflow: hidden;
}

.progbarprogress {
	object-fit:none;
}